.actions{
  height: 75vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  position: relative;
}

.actions__content{
  background: var(--bar-bg);
  box-shadow: 0 2px 6px 0 rgba(136,148,171,.2),0 24px 20px -24px rgba(71,82,107,.1);
  border-radius: 1vw;
  height: 80%;
  width: 90%;
  overflow: scroll;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions__action{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 50px;
  border-radius: 20px;
  margin: 8px 0;
  background: var(--bg-color);
  transition: all .2s ease-out;
}

.actions__action:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.actions__title{
  font-size: .8rem;
  color: rgba(133, 133, 133, 0.466);
  font-weight: bold;
  position: absolute;
  top: calc(10% + 1rem);
  width: 100%;
  left:0;
  z-index: 1;
  text-align: center;
}

.actions__action-name{
  width: 70%;
}

.actions__action-cost{
  
}