.appel-projet{
  position: absolute;
  top: 10vh;
  left: 25vw;
  min-height: 80vh;
  width: 50vw;
  background: rgb(193, 209, 233);
  z-index: 3;
  border-radius: 20px;
  font-family: var(--main-font);
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appel-projet ~ *{
  filter: blur(3.5px);
}

.appel-projet__top{
  color: aliceblue;
  display: flex;
  margin: .3rem;
  justify-content: space-between; 
}

.appel-projet__logo{
  margin: 1rem 1rem 0 1rem;
  width: 200px;
}

.appel-projet__buttonClose{
  cursor: pointer;
}

.appel-projet__buttonClose:hover{
  align-items:flex-end;
  cursor: pointer;
}

.appel-projet__name{

  color:white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.9rem;
  font-weight: bold;  
}

.appel-projet__info{
  display: flex;
  flex-direction: column;

}

.appel-projet__budget,.appel-projet__partners,.appel-projet__englishfolder,.appel-projet__location{
  color:white;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin: 2rem 3rem;
  
}

.appel-projet__candidater-deadline{
  font-size: .8rem;
  position: absolute;
  right: 6%;
}

.appel-projet__candidater{
  color:white;
  padding:1.1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: rgb(125, 147, 177);
  margin: 1rem;
  border-radius: 20px;
}

.appel-projet__candidater:hover{
  color:white;
  cursor: pointer;
  font-size: 1.54rem;
  padding:1.08rem;
  display: flex;
  justify-content: center;
  background-color: rgba(125, 147, 177, 0.603);
  margin: 1rem;
  border-radius: 20px;
}

