
.bubble:hover .bubble__content > .time-bar__cursor-logo:not(.disabled){
  transform: scale(1.1);
  cursor: pointer;
}

.bubble__content {
  position: absolute;
  background: var(--bg-color);
  top: calc(50% - 80px);
  padding: 9px 10px 5px 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.bubble__content > *{
  transition: .3s;
}

.bubble__bottom {
  position: absolute;
  height: 15px;
  bottom: -15px;
  left: calc(50% - 7px);
}