.budget-bar{
  height: 75vh;
  width: 12vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-5.5%);
}

.budget-bar__container{
  background: var(--bar-bg);
  box-shadow: 0 2px 6px 0 rgba(136,148,171,.2),0 24px 20px -24px rgba(71,82,107,.1);
  height: 80%;
  width: 15%;
  padding: 3px;
  border-radius: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.budget-bar__value{
  background: linear-gradient(to bottom,  #78e0bc 0%,#28aa7e 100%);
  width: 100%;
  border-radius: 20vw;
  transition: all 1s ease-in;
}

.budget-bar__number{
  color: #aaa;
  font-family: var(--main-font);
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  transform: translateX(48px);
}

.budget-bar__kichta{
  width: 35%;
}