.event{
  position: absolute;
  top: 30vh;
  left: 25vw;
  min-height: 35vh;
  width: 50vw;
  background: rgb(56, 56, 56);
  z-index: 2;
  border-radius: 20px;
  font-family: var(--main-font);
  font-size: 22px;
  display:flex;
  flex-direction: column;
}

.event ~ *{
  filter: blur(3.5px);
}

.event__buttonClose{
  color: rgb(255, 255, 255);
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
  cursor: pointer;
}

.event__info{
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:1rem;
  text-align: center;
}

.event__title{
  font-size: 40px;
  padding: 1rem;
}

