.help{
  position: absolute;
  top: 10vh;
  left: 25vw;
  min-height: 80vh;
  width: 50vw;
  background: rgb(56, 56, 56);
  z-index: 3;
  border-radius: 20px;
  font-family: var(--main-font);
  font-size: 24px;
  display:flex;
  flex-direction: column;
  padding: 1rem;
}

.help ~ *{
  filter: blur(60px);
}

.help__title{
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
}

.help__buttonClose{
    color:white;
    padding: 1rem;
    display:flex;
    justify-content: flex-end;
    cursor: pointer;
}

.help__info{
  margin:1rem;
  color:white;
  display:flex;
  flex-direction: column;
  align-items: center;
}







