.project-infos{
  height: 75vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
}

.project-infos__title{
  font-size: .8rem;
  margin: 1rem 0 0  2rem;
  color: rgba(133, 133, 133, 0.466);
  font-weight: bold;
  text-align: center;
}

.project-infos__content{
  background: var(--bar-bg);
  box-shadow: 0 2px 6px 0 rgba(136,148,171,.2),0 24px 20px -24px rgba(71,82,107,.1);
  border-radius: 1vw;
  height: 80%;
  width: 90%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  transition: all .2s ease-in;
}

.project-infos__content:hover{
  transform: scale(1.03);
}

.project-infos__name{
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  margin: 1.7rem 1rem;
}

.project-infos__top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1rem;
  font-size: 17px;
  line-height: 24px;
  font-weight: 100;
  opacity: .76;
  margin: 2rem;
}

.project-infos__description{
  margin: 1rem 1.5rem;
  font-size:larger;
  background-color: rgba(245, 235, 206, 1);
  padding: 1rem;
  border-radius: 2vh;
}

.project-infos__usine{
  padding-left: 3px;
}

.project-infos__cost{
  margin: .5rem 1rem;
  font-size:larger;
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-between;
}

.project-infos__territorialImpact{
  margin: .5rem 1rem;
  font-size:larger;
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-between;
}

.project-infos__language{
  margin: .5rem 1rem;
  font-size:larger;
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-between;
}

.project-infos__text-partners{
  margin: 1rem 1rem 0rem 1rem;
  font-size:larger;
  padding: .5rem 1rem;
}

.project-infos__list-partners{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-infos__partners{
  margin: 1.5% 2.5%;
  background-color: rgba(245, 235, 206, 1);
  padding: 2.5%;
  border-radius: 2vh;
  display: flex;
  justify-content: space-between;
}