.time-bar {
  background: var(--bg-color);
  height: 25vh;
  position: relative;
}

.time-bar__container{
  position: absolute;
  height: 30px;
  width: 70%;
  top: calc(50% - 15px);
  right: 15%;
  background: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.time-bar__remaining-days{
  color: #aaa;
  font-family: var(--main-font);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  transform: translateX(-58px) translateY(30px);
}

.time-bar__days-divider{
  position: relative;
  height: 50px;
  width: 1px;
  background: #aaa;
}

.time-bar__container{
  box-shadow: 0 2px 6px 0 rgba(136,148,171,.2),0 24px 20px -24px rgba(71,82,107,.1);
}

.time-bar__value{
  background: linear-gradient(to right,  #ffdb58 0%,#ff8E06 100%);
  height: 24px;
  transition: all .8s cubic-bezier(0.39, 0.575, 0.565, 1);
  border-radius: 20px;
  transform: translateX(-0.5%);
  display: flex;
}

.time-bar__cursor-logo.disabled{
  opacity: .5;
}

.time-bar__cursor-logo{
  height: 40px;
}
