.win-lose {
  position: absolute;
  top: 30vh;
  left: 25vw;
  min-height: 35vh;
  width: 50vw;
  background: rgb(214, 214, 214);
  z-index: 4;
  border-radius: 20px;
  font-family: var(--main-font);
  font-size: 24px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid rgba(31, 31, 31, 0.39);
}

.win-lose ~ *{
  filter:blur(3px);
}

.win-title{
    color: rgb(75, 161, 90);
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 1.7rem 1rem;
}

.lose-title{
    color: rgb(255, 79, 79);
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 1.7rem 1rem;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    margin-bottom: 2rem;
    border-radius: 1.4vh;
    background-color: rgba(243, 243, 243, 0.705);
    box-shadow: 0 2px 6px 0 rgba(136,148,171,.2),0 24px 20px -24px rgba(71,82,107,.1);
}
.button:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    border-radius: 1.4vh;
    background-color: rgba(243, 243, 243, 0.705);
    box-shadow: 0 2px 6px 0 rgba(136,148,171,.2),0 24px 20px -24px rgba(71,82,107,.1);
}

.note{
    padding: 2rem;
    text-align: center;
}